#Assignment-10
#Name : Guru Prasanth R S
#Redg No: 24040208003

# Readr , Purr, Tibble

## Install required packages

In [1]:
install.packages('readr')
install.packages('purrr')
install.packages('tibble')
install.packages('dplyr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Load necessary libraries

In [2]:
library(readr)
library(purrr)
library(tibble)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Create sample student data

In [3]:
students <- tibble(
  name = c("Alice", "Bob", "Charlie", "David"),
  math_score = c(85, 56, 90, 45),
  science_score = c(92, 61, 94, 50),
  english_score = c(78, 65, 88, 40)
)

# Write the tibble to a CSV file
write_csv(students, "students.csv")

In [4]:
# Step 1: Read the data from the CSV file into a tibble
students_data <- read_csv("students.csv") %>%
  as_tibble()

# Print the data to see the structure
print(students_data)

# Step 2: Calculate total scores for each student
students_data <- students_data %>%
  mutate(
    total_score = math_score + science_score + english_score
  )

# Step 3: Apply a function to determine if the student passed (Total score > 240)
# Let's assume a passing score is 240 for simplicity.
students_data <- students_data %>%
  mutate(
    pass_status = map_chr(total_score, ~ ifelse(.x > 240, "Pass", "Fail"))
  )

# Step 4: View the final tibble
print(students_data)

Rows: 4 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): name
dbl (3): math_score, science_score, english_score

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 4 × 4
  name    math_score science_score english_score
  <chr>        <dbl>         <dbl>         <dbl>
1 Alice           85            92            78
2 Bob             56            61            65
3 Charlie         90            94            88
4 David           45            50            40
# A tibble: 4 × 6
  name    math_score science_score english_score total_score pass_status
  <chr>        <dbl>         <dbl>         <dbl>       <dbl> <chr>
1 Alice           85            92            78         255 Pass
2 Bob             56            61            65         182 Fail
3 Charlie         90            94            88         272 Pass
4 David           45            50            40         135 Fail